<div class="row" *ngIf="movie">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img src="{{movie.poster}}">
                <span class="card-title">{{movie.title}}</span>
            </div>
            <div class="card-content grey-text text-darken-4">
                <!-- Use this for every property of a movie, just copy and paste -->
                <div class="row">
                    <span class="col s6">Rating</span>
                    <span class="col s6">{{movie.rating}}</span>
                </div>
                <div class="row">
                    <span class="col s6">Runtime</span>
                    <span class="col s6">{{movie.runtime}}</span>
                </div>
                <div class="row">
                    <span class="col s6">Seen?</span>
                    <span class="col s6">{{movie.seen}}</span>
                </div>
                <div class="row">
                    <span class="col s6">Year</span>
                    <span class="col s6">{{movie.year}}</span>
                </div>
                <div class="row">
                    <span class="col s6">Plot</span>
                    <span class="col s6">{{movie.plot}}</span>
                </div>
                <!-- end -->
            </div>
            <div class="card-action">
                <a class="btn" routerLink="/movies">Go Back</a>
            </div>
            <div class="card-action">
                <a class="btn" (click)="goBack()">Go Back TS</a>
            </div>
            <div class="card-action">
                <a class="btn" (click)="delete()">Delete</a>
            </div>
        </div>
    </div>
</div>
