<div>
    <div class="row">
        <input 
         placeholder="Search for movies" 
         class="col s9" 
         [class.invalid]="title.invalid && title.touched && title.dirty" 
         #title="ngModel" 
         type="text" 
         ngModel 
         required 
         (input)="search$.next($event.target.value)"
         minlength=2 
         name="title"/>
    </div>
    <div>
        <p *ngIf="title.errors?.minlength && title.touched">
        Search term should be at least {{title.errors.minlength.requiredLength}} characters long!
        </p>
        <p *ngIf="title.errors?.required && title.touched">
        Search term is required!
        </p>
    </div>
</div>
