<p *ngIf="(shows | async)?.length === 0">No TV shows on your watch list yet!</p>
<div *ngFor="let s of shows | async">
    <media-tv-show-mini [show]="s" (clicked)="goToDetail($event)"></media-tv-show-mini>
</div>

