<!DOCTYPE html>
<nav class="nav-extended">
    <div class="nav-wrapper">
        <span class="brand-logo">Movie App</span>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab">
                <a routerLink="/actors">Actors</a>
            </li>
            <li class="tab">
                <a routerLink="/actors/add">Add actor</a>
            </li>
            <li class="tab">
                <a routerLink="/movies">Movies</a>
            </li>
            <li class="tab">
                <a routerLink="/movies/add">Add movie</a>
            </li>
            <li class="tab">
                <a routerLink="/tvshows">TV shows</a>
            </li>
            <li class="tab">
                <a routerLink="/tvshows/search">Add TV show</a>
            </li>
            <li class="tab">
                <a class="btn" (click)="addShrek()">ShReK</a>
            </li>
        </ul>
    </div>
</nav>
