<media-search (search)="lookupRx($event)"></media-search>
<div class="movieslist">
    <div *ngFor="let m of movies | async">
        <media-movie [movie]="m" (selected)="navigateTo($event)"></media-movie>
    </div>
</div>
