<div *ngIf="show">
    <img src="{{show.poster}}" alt="{{show.title}}"/>
    <div>
        <span>Title:</span>
        <span>{{show.title}}</span>
    </div>
    <div>
        <span>Overview:</span>
        <span>{{show.overview}}</span>
    </div>
    <div>
        <span>Rating:</span>
        <span>{{show.rating}}</span>
    </div>
    <div>
        <span>Runtime:</span>
        <span>{{show.runtime}}</span>
    </div>
    <div>
        <span>Status:</span>
        <span>{{show.status}}</span>
    </div>
    <div>
        <span>Year:</span>
        <span>{{show.year}}</span>
    </div>
</div>
