<media-search (search)="lookupRx($event)"></media-search>
<div class="buttons">
    <div *ngFor="let m of movies | async ">
        <media-movie [movie]="m" (selected)="add($event)">{{m.title}}</media-movie>
    </div>
</div>

