<media-search (changed)="search($event)"></media-search>
<div class="showscontainer">
    <div *ngFor="let s of shows | async">
        <media-tv-show-mini [show]="s" (clicked)="add($event)" ></media-tv-show-mini>
    </div>
</div>
